---
layout: page
url: assess-your-organization
title: Assess Your Organization
slug: assess-your-organization
subtitle: 
description: Facebook description
twitter: Twitter Post
billboardClass: assess-organization-billboard

subnav:

navigation_weight: 40
---


{% include social-links.html %}

{% include billboard.html %}


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">

				<p>Once you’ve reviewed the process areas of the PDDQ, you can start to assess how many items your practice has implemented.  The goal of the assessment is to help you understand and document the things you’re doing well, and see where there may be gaps in your processes that could cause poor data quality.  In the assessment, you will see an evaluation question and an option to choose Full, Partial, or None.  If you have already implemented the process the evaluation question is asking about and have documented the process, you can mark the scoring as full.  If you have a process, but it’s more informal and isn’t necessarily documented, you will receive partial credit.  You should fill in the assessment box with a description of the processes you have in place and a list of any documentation about the process. If you haven’t implemented any processes, then mark none.  At the bottom of the score sheet, your score will total up.</p> 

				<p>The assessment can help you know where to focus your efforts by showing you where you haven’t implemented any processes.  Practices should focus first on the questions where the score was none.  Over time, as you implement new processes not only will your score improve, but your data quality will also improve, providing safer care for your patients.</p>


				<div class="row">
					<div class="grid-12">
						<div class="next">
							<p class="text-center">
							
								<a class="btn btn-chapter" href="{{site.baseurl}}/assets/img/PDDQ_Ambulatory_Guide_Scoring_Sheet_Final.pdf" target="_blank">PDDQ Ambulatory Guide Scoring Sheet<span aria-hidden="true"></span>
								</a>

							</p>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
</div>





{% include upper-footer.html %}