---
layout: page
url: data-operations
title: Data Operations
slug: data-operations
subtitle:
description: Facebook description
twitter: Twitter Post
billboardClass: data-operations-billboard

subnav:
- section-num: 3.1 
  section-title: Data Requirements Definition
- section-num: 3.2
  section-title: Data Lifecycle Management
- section-num: 3.3
  section-title: Data Provider Management

navigation_weight: 25
---


{% include social-links.html %}

{% include billboard.html %}


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">

				<p>The Data Operation Category focuses on where patient demographic data comes from, how it is used in a system, and the staff members who have access to enter, modify, archive, or delete patient demographic data.  Data Operations help practices understand more about the data itself and how it is used, which is then used by the Data Management Function process area to coordinate the development and management of the Business Glossary, and the policies, best practices, and procedures developed under the Data Cleansing and Improvement Process Area.  The Data Operations Category includes the following process areas:</p>
				<ul>
					<li><a href="#section3.1">Data Requirements Definition</a>: Specifies which patient demographic data elements will be included in the business glossary, as well as the accompanying metadata and standards.</li>
					<li><a href="#section3.2">Data Lifecycle Management</a>: Identifies who can create and modify patient demographic data across the practice’s workflows and where it can be modified.</li>
					<li><a href="#section3.3">Data Provider Management</a>: Creates policies and best practices for individuals to follow when providing data, particularly when individuals are not staff members in the practice (i.e. laboratories, hospitals, other practices, etc.).</li>
				</ul>
				
			</div>
		</div>
	</div>
</div>


<div class="section-header" id="section3.1" name="section3.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.1</span>{{ page.subnav[0].section-title }}</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">

				<div class="road-sign">
					<div class="sign-title">
						<span>Goal</span>
					</div>
					<span class="sign-content">Identify the Practice's Data Requirements, Including System Requirements and Incorporation into the Business Glossary and Corresponding Policies and Best Practices.</span>
				</div>

				<h3>Summary</h3>

				<p>While the business glossary and corresponding metadata is the compilation of information about patient demographic data elements, data requirements definition is the process of identifying which data elements will be available in the practice’s EHR or practice management system. Data requirements also help the practice build its policies and best practices, by ensuring they have included all relevant patient demographic data elements.  Data requirements definition can take place via the data governance process if the practice has established a formal process, or be coordinated by the data management function, if an individual has been identified to fulfill that role.  The data requirements definition process enables the activities that take place in the data governance and data quality categories.  Data requirements definition can lead to the following benefits:</p>
				<ul>
					<li>Increases the ability to share data across the organization and among organizations;</li>
					<li>Enhances the business glossary and corresponding metadata; and</li>
					<li>Establishes data ownership and stewardship.</li>
				</ul>

			</div>
		</div>
	</div>
</div>


<div class="section-header" id="section3.2" name="section3.2">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.2</span>{{ page.subnav[1].section-title }}</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">

				<div class="road-sign">
					<div class="sign-title">
						<span>Goal</span>
					</div>
					<span class="sign-content">Identify the data lifecycle for patient demographic data.</span>
				</div>

				<h3>Summary</h3>

				<p>A data lifecycle traces the path of patient demographic data from the time it is created to the time it is archived.  For example, a registrar creating a new patient record for a patient’s first visit would be the start of the data lifecycle.  After a patient dies, and their record is marked as deceased, the lifecycle would end, since data about that patient should no longer be changing.  The data lifecycle helps identify who can enter and modify patient demographic data across the practice, and may even include individuals and organizations outside of the practice, like laboratories or pharmacies.  Identifying a patient demographic data lifecycle may provide the following benefits:</p>
				<ul>
					<li>Minimize and eliminate unwanted and incorrect changes to patient demographic data;</li>
					<li>Improve the ability to identify root cause issues with data quality;</li>
					<li>Improve overall data management.</li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div class="section-header" id="section3.3" name="section3.3">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.3</span>{{ page.subnav[2].section-title }}</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">

				<div class="road-sign">
					<div class="sign-title">
						<span>Goal</span>
					</div>
					<span class="sign-content">Establish Quality Requirements for all Data Providers, particularly external data providers.</span>
				</div>

				<h3>Summary</h3>

				<p>Data providers are individuals and systems that provide patient demographic data to a practice.  This includes internal data providers, such as front desk staff/registrars, medical assistants, etc., as well as external data providers, such as laboratories, pharmacies, and other provider offices.  Systems can also provide data, for example, the practice’s patient portal may allow patients to change their demographic data and send it to the practice to update in the EHR or practice management system.  It is important that all of these data providers understand the policies, best practices, and procedures that the practice has established for patient demographic data and follow the same whenever possible.  Some practices may do this via service level agreements that set requirements for data providers and establish escalation procedures when the agreements are not met.  Implementing data provider management practices may help the practice realize the following benefits:</p>
				<ul>
					<li>Ensure that the right data is delivered to systems;</li>
					<li>Improve data quality from external sources; and</li>
					<li>Reduce patient safety risk by accepting more complete and accurate data.</li>
				</ul>
				
			</div>
		</div>
	</div>
</div>




{% include upper-footer.html %}