---
layout: page
url: data-governance
title: Data Governance
subtitle: 
slug: data-governance
description: Facebook Description
twitter: Twitter Post
billboardClass: data-governance-billboard

subnav:
- section-num: 1.1 
  section-title: Governance Management
- section-num: 1.2 
  section-title: Communications
- section-num: 1.3 
  section-title: Data Management Function
- section-num: 1.4 
  section-title: Business Glossary, Metadata, and Data Standards

navigation_weight: 15
---


{% include social-links.html %}

{% include billboard.html %}


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">

				<p>The Data Governance category primarily focuses on engaging staff members from across the practice in developing and maintaining good data management practices of patient demographic data.  Data Governance creates a shared responsibility for staff members by actively engaging them in creating policies, best practices, procedures, and work products that will help everyone in the practice improve the quality of patient demographic data.  Data Governance includes the following Process Areas:</p>
				<ul>
					<li><a href="#section1.1">Governance Management</a>: Focuses on process that assist a practice with engaging all staff members to help make decisions.</li>
					<li><a href="#section1.2">Communications</a>: Emphasizes timely and effective communications with staff members.</li>
					<li><a href="#section1.3">Data Management Function</a>: Establishes a staff member(s) who is responsible for managing the data quality improvement process and can participate in the governance process.</li>
					<li><a href="#section1.4">Business Glossary, Metadata, and Data Standards</a>: Develops a single set of patient demographic data elements, as well as the formats, standards, and rules around recording the data.</li>
				</ul>

			</div>
		</div>
	</div>
</div>


<div class="section-header" id="section1.1" name="section1.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">1.1</span>{{ page.subnav[0].section-title }}</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">

				<div class="road-sign">
					<div class="sign-title">
						<span>Goal</span>
					</div>
					<span class="sign-content">Create a Governance process that can take responsibility and ownership for managing and supporting each component of the Patient Demographic Data Quality Framework.</span>
				</div>

				<h3>Summary</h3>
				<p>A governance process can be useful for engaging staff members from across the practice in developing and managing each of the process areas in the Patient Demographic Data Quality Profile.  Governance can take two forms, formal and informal.  Formal governance processes typically involve a committee with set roles, responsibilities, and regular meetings.  A committee may also have authority to implement processes and procedures and hold staff members accountable for following them.  Informal governance processes would be more ad hoc and focused on dealing with high priority issues, or may only include the individual(s) identified as having the data management role.  Informal governance likely would not include the authority to hold staff members accountable, and would be more akin to a training program.  Practices may realize the following benefits from implementing a governance process:</p>
				<ul>
					<li>Increased awareness and shared responsibility for data standard and quality;</li>
					<li>Increased efficiency in creating and implementing policies, best practices, and procedures; and</li>
					<li>Strengthened compliance with policies, best practices, and procedures.</li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div class="section-header" id="section1.2" name="section1.2">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">1.2</span>{{ page.subnav[1].section-title }}</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
			
				<div class="road-sign">
					<div class="sign-title">
						<span>Goal</span>
					</div>
					<span class="sign-content">Effectively communicate policies, best practices, and procedures related to patient demographic data to all staff members.</span>
				</div>

				<h3>Summary</h3>
				<p>In an ambulatory practice, a wide range of staff may enter or edit patient demographic data, including: practice managers, front desk staff/registrars, medical assistants, clinicians, etc.  It is vitally important that any staff member who enters or edits patient demographic data be notified in a timely manner of any policies or procedures that affect how that data is captured.  If organizations follow best practices for communications, the following benefits can be realized:</p>
				<ul>
					<li>Staff will have a common understanding of which patient demographic data elements should be captured, the manner in which they should be captured, and how the data should be represented;</li>
					<li>Essential understanding of the concepts of data quality management and its effect on patient safety will be reinforced with staff; and</li>
					<li>Staff will receive advanced notice of changes that will impact their systems.</li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div class="section-header" id="section1.3" name="section1.3">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">1.3</span>{{ page.subnav[2].section-title }}</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
			
				<div class="road-sign">
					<div class="sign-title">
						<span>Goal</span>
					</div>
					<span class="sign-content">Identify data management resources (individuals) who are responsible for ensuring that patient demographic data is managed effectively.</span>
				</div>

				<h3>Summary</h3>

				<p>Practices should identify one or more individuals who are responsible for overseeing its data quality efforts, including creating policies, best practices, and procedures; managing data profiling, quality assessment, and data cleansing efforts; and taking responsibility for data quality outcomes.  Smaller practices may only have one staff member who is able to perform this role, while larger organizations may be able to identify two or three staff members who can collectively manage data quality.  Practices that choose to identify a specific individual as the data manager, may see the following benefits:</p>
				<ul>
					<li>Raise awareness across the practice about data quality;</li>
					<li>Have a single point of accountability for improving data quality;</li>
					<li>Have a single point of contact for staff members to engage with; and</li>
					<li>Facilitate implementation of best practices.</li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div class="section-header" id="section1.4" name="section1.4">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">1.4</span>{{ page.subnav[3].section-title }}</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
			
				<div class="road-sign">
					<div class="sign-title">
						<span>Goal</span>
					</div>
					<span class="sign-content">Create and maintain a business glossary and accompanying metadata so that all staff members understand all of the patient demographics that should be captured and the format/structure they should be captured in.</span>
				</div>

				<h3>Summary</h3>

				<p>In the context of patient demographic data, a business glossary is the list of patient demographic data elements that are used for matching patient records and a common definition of each data element.  In the business glossary is corresponding metadata, which is simply data or information about a data element, including the preferred or required format that these data elements should be captured in, rules around fields that data elements should be captured in (for example, capturing suffix with last name or separately, or capturing date of birth as mm/dd/yyyy), and data about who has access to capture or modify each data element.  There are a number of benefits practices can realize by creating and maintaining a business glossary with metadata, including:</p>
				<ul>
					<li>Increased understanding and communication among staff members;</li>
					<li>Foundation for developing data requirements or evaluating data requirements of new systems, should they change EHR systems;</li>
					<li>Starting place for uniformity in data collection processes across the practice; and</li>
					<li>Improved data quality and consistency through agreement about definitions, values, and formats.</li>
				</ul>

				<p>Practices are advised to create a defined process to create their initial business glossary and to update it when necessary, particularly as standards evolve and change in how patient data is matched.</p>
				
			</div>
		</div>
	</div>
</div>



{% include upper-footer.html %}
