---
layout: page
url: how-to-use-this-guide
title: How to use this guide
slug: how-to-use-this-guide
description: Facebook Description
twitter: Twitter Post
billboardClass: how-to-use-billboard



navigation_weight: 10
---


{% include social-links.html %}

{% include billboard.html %}


<div class="section-header">
	<div class="content">
		<div class="row">
			<div class="grid-12">

				<p>The Profile and the Ambulatory Operational Guidance Document are organized into five categories.  Each category has a number of process areas that describe in what should be occurring.  Many of the process areas work together, so there is not necessarily a single starting place for implementing each process area.  The diagram below demonstrates how the Profile works together to provide comprehensive data quality.</p>

				<img class="margin-2-0" src="../assets/img/patient-demographic-wheel.png" alt="">

				<p>In this guide, each process area will have a goal statement (what the area is meant to achieve) and a short summary, including the key benefits of each area.  Then, there is a table that can help practices evaluate their current status, this is done by using a series of questions across three tiers: Tier 1 Foundational, Tier 2 Building, and Tier 3 Advanced.  Some of the tiers do not have any identified questions that are applicable to ambulatory practices (though over time as more practices adopt a structured process for managing data quality, more questions will likely be added to this guide).</p>

				<p>Practices should first review the question, and if the answer is no, review the best practices/implementation guidance column to understand how they could implement items in their practice, in order to achieve a positive result on that tier.  If the answer is yes, practices should record how they have met the level and move to the next level.  More advanced practices should review the Profile for additional Tiers if they have already met the majority of the Tier 1 Foundational items.</p>

			</div>
		</div>
	</div>
</div>





{% include upper-footer.html %}
