---
layout: default
title: Landing Page
---

<div class="intro-wrap">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p class="text-center">
					<img src="/ag/assets/img/site-ag-logo-large.png" alt="">
				</p>
			</div>
		</div>

		<div class="row">
			<div class="grid-12">
				<p><strong class="intro-highlight">Patient engagement can have big benefits for your practice and your patients:</strong> better communication, better care, and better outcomes. Health information technology (health IT) is a powerful tool to help you get there — so learn how to make it work for you.</p>
				<p><strong class="intro-highlight">Use the Patient Engagement Playbook as your guide.</strong> The Playbook is an evolving resource for providers, practice staff, hospital staff, and other innovators: a compilation of tips and best practices we’re collecting from providers and health systems like yours.</p>
			</div>
		</div>

		
			<div class="grid-6">
				<a href="introduction" class="btn-landing btn-intro">
					<span class="section-title">Introduction to the Ambulatory Guide</span>
				</a>
			</div>
			<div class="grid-6">
				<a href="how-to-use-this-guide" class="btn-landing btn-guide">
					<span class="section-title">How to use the Ambulatory Guide</span>
				</a>
			</div>
		

		
			<div class="grid-6">
				<a href="data-governance" class="btn-landing btn-governance">
					<span class="section-title">Data Governance</span>
				</a>
			</div>
			<div class="grid-6">
				<a href="data-quality" class="btn-landing btn-quality">
					<span class="section-title">Data Quality</span>
				</a>
			</div>
		

		
			<div class="grid-6">
				<a href="data-operations" class="btn-landing btn-operations">
					<span class="section-title">Data Operations</span>
				</a>
			</div>
			<div class="grid-6">
				<a href="platform-and-standards" class="btn-landing btn-standards">
					<span class="section-title">Platform and Standards</span>
				</a>
			</div>
		

	
			<div class="grid-6">
				<a href="supporting-processes" class="btn-landing btn-processes">
					<span class="section-title">Supporting Processes</span>
				</a>
			</div>
			<div class="grid-6">
				<a href="share-feedback" class="btn-landing btn-share-feedback">
					<span class="section-title">Share your Feedback</span>
				</a>
			</div>
		

		<div class="row">
			<div class="grid-12">
				{% include join_conversation.html %}
			</div>
		</div>
	
	</div>
</div>

		<div class="row">
			<div class="grid-12">
				{% include footer.html %}
			</div>
		</div>




