---
layout: page
url: platform-and-standards
title: Platform and Standards
slug: platform-and-standards
subtitle:
description: Facebook Description
twitter: Twitter Post
billboardClass: platform-and-standards-billboard

subnav:
- section-num: 4.1 
  section-title: Data Management Platform
- section-num: 4.2 
  section-title: Data Integration
- section-num: 4.3 
  section-title: Historical Data, Archiving, and Retention


navigation_weight: 30
---




{% include billboard.html %}


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<div>

					<p>The Platform and Standards Category addresses the practice’s databases that contain patient demographic data.  For most practices, this database is part of their EHR or practice management system, and as such, the practice itself may not have control over the database, or the practice may use a cloud-based EHR, which would not allow them any control.  While practices should review the process areas in this section, they tend to be less applicable to the ambulatory environment, with the exception of the Historical Data, Archiving and Retention process area.</p>
					<ul>
						<li><a href="#section4.1">Data Management Platform</a>: Focuses on the requirements and selection of databases and systems a practice may implement.</li>
						<li><a href="#section4.2">Data Integration</a>: Focuses on aligning and matching data from multiple systems.</li>
						<li><a href="#section4.3">Historical Data, Archiving and Retention</a>: Identifies whether policies are in place for dealing with historical data and retaining, archiving, or deleting data (note that state laws heavily impact the policies developed in this Process Area).</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-header" id="section4.1" name="section4.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">4.1</span>{{ page.subnav[0].section-title }}</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<div>

					<h3>Summary</h3>

					<p>The data management platform process area addresses the systems that a practice would use to store data and choosing the right platforms that meet the patient demographic data element requirements the practice has created.  For practices, this will typically be their EHR or practice management system, though some practices may also use a separate system for care coordination activities.  Since many practices do not host their own platforms (rather they use cloud-based systems that their EHR vendor hosts), this process area is likely less applicable than the others.  However, practices will benefit from making sure that their patient data demographic requirements and best practices are considered if they are evaluating a new product that would store patient data or have the need to match patient records.</p>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-header" id="section4.2" name="section4.2">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">4.2</span>{{ page.subnav[1].section-title }}</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<div>

					<h3>Summary</h3>

					<p>Data integration for ambulatory practices primarily focuses on integrating and matching patient records when data is shared from another source.  For example, when practices receive a transition of care summary in their EHR, the EHR must match the summary of care that was received to a patient chart in the system.  Having quality patient demographic data in a practice’s EHR system will make these matching processes work better. However, very few practices have control over how their EHR system matches records, and therefore this process area is less applicable to the ambulatory space.  </p>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-header" id="section4.3" name="section4.31">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">4.3</span>{{ page.subnav[2].section-title }}</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<div>

					<h3>Summary</h3>

					<p>Practices should develop and establish policies around archiving and retaining patient demographic data.  In doing so, practices should ensure that they follow all applicable state and federal laws regarding the retention of medical records.  Ideally, such policies should be reviewed as part of a practice’s HIPAA Risk Assessment.  Practices likely also need to work with their EHR/practice management vendors to understand what their data retention and archiving policies are, particularly if the practice uses a cloud-based solution.</p>

				</div>
			</div>
		</div>
	</div>
</div>


{% include upper-footer.html %}