table.desktop,
table.mobile{
	border-collapse: collapse;
	width: 100%;
	margin: 2em 0em;
}

table.desktop th:first-child{
	width: 25%;
}

.desktop td, 
.desktop th{
	border: 1px solid #ddd;
	text-align: left;
	padding: .7em;
	vertical-align: baseline;
}

.mobile th{
	border: 1px solid #ddd;
	text-align: left;
	padding: .7em;
	vertical-align: baseline;
}

.mobile td.question{
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: none;
	border-left: 1px solid #ddd;
	text-align: left;
	padding: .7em;
	vertical-align: baseline;	
}

.mobile td.answer{
	border-top: none;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	text-align: left;
	padding: .7em;
	vertical-align: baseline;	
}


.desktop th,
.mobile th{
	color: white;
	background-color: $blue-light;
}

.table-highlight{
	background-color: #eee;
}

table.desktop{
	display: none;
}


@include breakpoint($medium){
	table.mobile{
		display: none;
	}

	table.desktop{
		display: block;
	}
}