.data-operations-billboard{
	background-image: url('../img/header-images/bg-data-operations.jpg');
	//background-position: 80% top;
	background-repeat: no-repeat;
	background-size: cover;
}

@include breakpoint($medium-2){
	.data-operations-billboard{
		background-position: 50% 60%;
	}
}

.create{
	margin-top: 3.5em;
}

.create .btn-chapter {
	font-size: 1.4em;
    padding: .75em 1.5em;
}

