.how-to-use-billboard{
	background-image: url('../img/header-images/bg-how-to.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 150% auto;
}

@include breakpoint($medium-2){
	.how-to-use-billboard{
		//background-position: 0% 10%;
		background-size: 75%;

	}
}