.intro-wrap{
	padding: 50px 0px;
	background: url(../img/header-images/bg-intro.jpg) no-repeat;
	background-position: 0% 30%;
	background-repeat: no-repeat;
	background-size: cover;
}

.healthit-logo{
	position: absolute;
	top: .5em;
	left: .5em;
}

.cmmi-logo{
	p{
		margin: 0px;
	}
	img{
		width: 30%;
	}
}



.intro-billboard{
	background: url('../img/header-images/bg-introduction.jpg');
	background-position: 25% 10%;
	background-repeat: no-repeat;
	background-size: cover;
}

@include breakpoint($medium-2){
	.intro-billboard{
		background-position: 0% 10%;
	}
}

.intro-highlight{
	color: $blue-highlight;
}

.btn-landing{
	background-color: $blue-highlight;
	background-position: 95%;
	background-repeat: no-repeat;
	border-radius: .25em;
	display: block;
	font-size: 1.2em;
	font-family: raleway, sans-serif;
	margin: .75em 0;
	padding: 1.5em 5.5em 1.5em 1em;
	position: relative;
	text-decoration: none;
	color: #fff;
	transition: all .3s;
	.section-title{
		display: block;
		font-weight: 700;
		margin-bottom: .25em;
	}
}

.btn-landing:hover{
	background-color: $green;
	background-image: url('../img/icon-arrow-green-right.png');
	background-position: 95%;
	background-repeat: no-repeat;
	background-size: 2em;
	color: $black;
	text-decoration: none;
	transition: all .3s;
}


@include breakpoint($medium-2){
	.btn-landing{
		background-size: 3em;
		min-height: 4em;
	}	
}


.btn-intro{
	background-image: url('../img/btn-landing-intro.png');
}

.btn-guide{
	background-image: url('../img/btn-landing-intro.png');
}

.btn-governance{
	background-image: url('../img/btn-data-governance.svg');
}

.btn-quality{
	background-image: url('../img/btn-data-quality.svg');
}

.btn-operations{
	background-image: url('../img/btn-data-operations.svg');
}

.btn-standards{
	background-image: url('../img/btn-platform-and-standards.svg');
}

.btn-processes{
	background-image: url('../img/btn-supporting-processes.svg');
}

.btn-assess{
	background-image: url('../img/btn-landing-intro.png');
}