.platform-and-standards-billboard{
	background-image: url('../img/header-images/bg-platform-and-standards.jpg');
	//background-position: 80% top;
	background-repeat: no-repeat;
	background-size: cover;
}